
{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_quantity_container %}
    {% if page.searchHub.activeState %}
        {% block buy_widget_buy_quantity_searchhub_container %}
            {% if showQuantitySelect %}
                <fieldset class="col-4 d-flex justify-content-end" data-track-id="addToBasketQuantity">
                    {# @deprecated tag:v6.7.0 - Unused variable selectQuantityThreshold will be removed without replacement #}
                    {% set selectQuantityThreshold = 100 %}

                    {% block buy_widget_buy_quantity_input_group %}
                        {{ parent() }}
                    {% endblock %}
                </fieldset>
            {% endif %}
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block buy_widget_buy_button %}
    {% if page.searchHub.activeState %}
        {% block buy_widget_buy_button_searchhub_container %}
            <div class="d-grid">
                <button class="btn btn-primary btn-buy"
                        type="submit"
                        title="{{ 'detail.addProduct'|trans|striptags }}"
                        aria-label="{{ 'detail.addProduct'|trans|striptags }}"
                        data-track-id="addToCartPDP"
                        data-product-id="{{ product.productNumber }}">
                    {{ 'detail.addProduct'|trans|sw_sanitize }}
                </button>
            </div>
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}